*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 10px;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  background-color: #fff;
}

.popup-container-div {
  display: block;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 15px;
  color: #000;
  line-height: normal;
  text-align: center;
  opacity: 1;
  background: rgb(0 0 0 / 50%);
  padding-left: 17px;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}

.scrollbar-auto {
  overflow-x: hidden;
  overflow-y: auto;
}

.scrollbar-hidden {
  overflow: hidden;
}

.popup-div {
  width: 600px;
  margin: 30px auto;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  background: #ffffff;
  box-shadow: 0 5px 15px rgb(0 0 0 / 50%);
  background-clip: padding-box;
}

.main-popup-div {
  position: relative;
  padding: 15px;
}

.img-pop {
  width: 100%;
  animation: mymove 2s infinite;
  -webkit-animation: mymove 2s infinite;
}

.h2-popup {
  margin: 20px 0;
  font-weight: 700;
  color: #575757;
  font-size: 25px;
}

.p3-pop {
  padding-bottom: 15px;
}

.strong-p {
  font-size: 14px;
  font-weight: bold;
}

.light-p {
  color: #797979;
  text-align: center;
  font-weight: 300;
}

.button-popup {
  background-color: #263da1;
  border-color: #263da1;
  color: #fff;
  margin-top: 10px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
  cursor: pointer;
  border: 1px solid transparent;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #14215a;
  padding: 10px;
  width: 100%;
  position: relative;
}

.logo {
  height: 60px;
  width: 180px;
}

.boxes-section {
  padding-bottom: 30px;
  margin: auto 40%;
}

.boxes-div {
  display: flex;
  font-size: 10px;
  color: #000;
  padding-bottom: 30px;
  font-weight: 600;
}

.boxes {
  background-size: cover;
  border-radius: 20px;
  position: relative;
  margin: 10px -35px;
}

.box-01,
.box-02,
.box-03 {
  position: relative;
  display: flex;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  cursor: pointer;
}

.box-img {
  width: 140px;
}

.top-box {
  position: absolute;
}

.bottom-box {
  position: relative;
}

.para1 {
  margin-right: 70%;
}

.comments-sec {
  margin: auto 40%;
}

.header {
  padding: 10px;
  justify-content: space-between;
  font-size: 12px;
  color: #000;
  font-weight: 200;
  border-bottom: 1px solid #f7e7b7;
  font-family: 'Roboto', sans-serif !important;
}

.para3 {
  margin-right: 75%;
}

.comments {
  display: grid;
}

.comment-div1 {
  background-color: #fff9ed;
  border-bottom: 1px solid #f7e7b7;
  padding: 10px;
  display: inline-block;
}
.comment-div2 {
  background-color: white;
  border-bottom: 1px solid #f7e7b7;
  padding: 10px;
  display: inline-block;
}

.img-comment {
  width: 50px;
  cursor: pointer;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.date-div {
  font-size: 11px;
  text-align: right;
}

@keyframes mymove {
  0% {
    transform: translate(1px, 1px) rotate(0);
  }

  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
