*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --border-color: #3b5998;
}
body {
  margin: 0;
  font-size: 10px;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  background-color: #fff;
}
/* Header */
.header-flex {
  display: flex;
  justify-content: center;
  background-color: #14215a;
  padding: 20px;
}

.header-logo {
  width: 240px;
}

/* Popup */
.popup-container-div {
  display: block;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 15px;
  color: #000;
  line-height: normal;
  text-align: center;
  opacity: 1;
  background: rgb(0 0 0 / 50%);
  padding-left: 17px;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}

.scrollbar-auto {
  overflow-x: hidden;
  overflow-y: auto;
}

.scrollbar-hidden {
  overflow: hidden;
}

.popup-div {
  width: 600px;
  margin: 30px auto;
  max-width: 768px;

  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  background: #ffffff;
  box-shadow: 0 5px 15px rgb(0 0 0 / 50%);
  background-clip: padding-box;
}

.main-popup-div {
  position: relative;
  padding: 15px;
}

.img-pop {
  width: 100%;
  animation: mymove 2s infinite;
  -webkit-animation: mymove 2s infinite;
}

.h2-popup {
  margin: 20px 0;
  font-weight: 700;
  color: #575757;
  font-size: 25px;
}

.p3-pop {
  padding-bottom: 15px;
}

.strong-p {
  font-size: 14px;
  font-weight: bold;
}

.light-p {
  color: #797979;
  text-align: center;
  font-weight: 300;
}

.button-popup {
  background-color: #263da1;
  border-color: #263da1;
  color: #fff;
  margin-top: 10px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
  cursor: pointer;
  border: 1px solid transparent;
}

/* Chance Pop */
#fst-pop,
#snd-pop,
#thd-pop {
  display: none;
}

.checkmark {
  display: none;
}

.checkmark.draw:after {
  animation-duration: 0.8s;
  animation-timing-function: ease;
  animation-name: checkmark;
  transform: scaleX(-1) rotate(135deg);
}

.checkmark:after {
  opacity: 1;
  height: 55px;
  width: 27.5px;
  transform-origin: left top;
  border-right: 3px solid;
  border-top: 3px solid;
  content: '';
  left: 27.5px;
  top: 55px;
  position: absolute;
}

@keyframes checkmark {
  0% {
    height: 0;
    width: 0;
    opacity: 1;
  }
  20% {
    height: 0;
    width: 27.5px;
    opacity: 1;
  }
  40% {
    height: 55px;
    width: 27.5px;
    opacity: 1;
  }
  100% {
    height: 55px;
    width: 27.5px;
    opacity: 1;
  }
}

.circle-loader {
  border: 1px solid;
  position: relative;
  display: inline-block;
  vertical-align: top;
  border-radius: 50%;
  width: 112px;
  height: 112px;
}

.border-color {
  border-color: var(--border-color);
}
.checkmark-border-color:after {
  border-color: var(--border-color);
}

/* Main */
.main-content {
  max-width: 720px;
  margin: 0 auto;
}

/* Boxes */
.boxes-section {
  padding-bottom: 30px;
}

.boxes-div {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: #000;
  font-weight: 700;
  padding: 10px 10px 0;
}

.boxes {
  margin: 10px auto;
  max-width: 800px;
}

.box-div {
  position: relative;
  display: inline-block;
  max-width: 23.8%;
  transition-duration: 0.1s;
  margin: 20px 0;
  cursor: pointer;
}

.box-div:hover {
  animation: boxmove 0.5s ease-in-out;
  -webkit-animation: boxmove 0.5s ease-in-out;
}

.box-img {
  max-width: 100%;
}

#gift-box-0,
#gift-box-1,
#gift-box-2,
#gift-box-3,
#gift-box-4,
#gift-box-5,
#gift-box-6,
#gift-box-7,
#gift-box-8,
#gift-box-9,
#gift-box-10,
#gift-box-11 {
  display: none;
  position: absolute;
  bottom: 40px;
}

.gift-img {
  animation: mover 4s infinite alternate;
  -webkit-animation: mover 4s infinite alternate;
  width: 50%;
}

.thd-img {
  width: 100%;
}

.top-box {
  position: absolute;
}

.box-div-clicked:focus {
  position: relative;
  animation: mymove 5s ease-in-out;
  -webkit-animation: mymove 5s ease-in-out;
}

.bottom-box {
  position: relative;
}

/* Comment */
.comments-sec {
  margin: auto;
}

.comment-img-div {
  float: left;
}

.title {
  float: left;
  margin-left: 25px;
  text-align: left;
}

.comments {
  display: grid;
}

.comment-div1 {
  background-color: #fff9ed;
  border-bottom: 1px solid #f7e7b7;
  padding: 10px;
  display: inline-block;
}
.comment-div2 {
  background-color: white;
  border-bottom: 1px solid #f7e7b7;
  padding: 10px;
  display: inline-block;
}

.img-comment {
  width: 50px;
  cursor: pointer;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.date-div {
  font-size: 11px;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
}

/* Animation */
@keyframes mymove {
  0% {
    transform: translate(1px, 1px) rotate(0);
  }

  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

@keyframes boxmove {
  0% {
    transform: translate(1px, 1px) rotate(0);
    -webkit-transform: translate(1px, 1px) rotate(0);
    -moz-transform: translate(1px, 1px) rotate(0);
    -ms-transform: translate(1px, 1px) rotate(0);
    -o-transform: translate(1px, 1px) rotate(0);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

@keyframes mover {
  0% {
    transform: translateY(10px);
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
  }
}

/* Responsive */

@media (max-width: 767px) {
  .popup-div {
    width: 500px;
    margin: 20px 100px;
  }
  #gift-box-0,
  #gift-box-1,
  #gift-box-2,
  #gift-box-3,
  #gift-box-4,
  #gift-box-5,
  #gift-box-6,
  #gift-box-7,
  #gift-box-8,
  #gift-box-9,
  #gift-box-10,
  #gift-box-11 {
    display: none;
    position: absolute;
    bottom: 40px;
    left: -45px;
  }
}

@media (max-width: 425px) {
  .header-flex {
    padding: 15px;
  }

  .header-logo {
    width: 130px;
  }

  .popup-div {
    width: 350px;
    margin: 10px 20px;
  }

  #gift-box-0,
  #gift-box-1,
  #gift-box-2,
  #gift-box-3,
  #gift-box-4,
  #gift-box-5,
  #gift-box-6,
  #gift-box-7,
  #gift-box-8,
  #gift-box-9,
  #gift-box-10,
  #gift-box-11 {
    bottom: 15px;
    left: -45px;
  }
}

@media (max-width: 375px) {
  .header-flex {
    padding: 10px;
  }

  .header-logo {
    width: 100px;
  }

  .popup-div {
    width: 300px;
    margin: 10px 25px;
  }

  #gift-box-0,
  #gift-box-1,
  #gift-box-2,
  #gift-box-3,
  #gift-box-4,
  #gift-box-5,
  #gift-box-6,
  #gift-box-7,
  #gift-box-8,
  #gift-box-9,
  #gift-box-10,
  #gift-box-11 {
    bottom: 15px;
    left: -50px;
  }
}

@media (max-width: 320px) {
  .header-flex {
    padding: 10px;
  }

  .header-logo {
    width: 100px;
  }

  .popup-div {
    width: 270px;
    margin: 10px 10px;
  }

  .img-comment {
    width: 35px;
  }

  .date-div {
    font-size: 8px;
  }

  #gift-box-0,
  #gift-box-1,
  #gift-box-2,
  #gift-box-3,
  #gift-box-4,
  #gift-box-5,
  #gift-box-6,
  #gift-box-7,
  #gift-box-8,
  #gift-box-9,
  #gift-box-10,
  #gift-box-11 {
    bottom: 15px;
    left: -60px;
    width: 10px;
  }
}
