*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #14215a;
  padding: 20px;
  position: relative;
}

.logo {
  height: 80px;
  width: 230px;
}

.boxes-section {
  margin: auto 20%;
  padding-bottom: 500px;
}

.boxes-div {
  padding-top: 5px;
  justify-content: space-between;
  font-size: 13px;
  color: #000;
  font-weight: 600;
}

p {
  display: inline;
}

.para1 {
  margin-right: 80%;
}

.comments-sec {
  margin: auto 20%;
}

.header {
  padding: 10px;
  justify-content: space-between;
  font-size: 14px;
  color: #000;
  font-weight: 200;
  border-bottom: 1px solid #f7e7b7;
  font-family: 'Roboto', sans-serif !important;
}

.para3 {
  margin-right: 78%;
  line-height: 18px;
  margin-top: 10px;
}

.comments {
  display: grid;
}

.comment-div1 {
  background-color: #fff9ed;
  border-bottom: 1px solid #f7e7b7;
  padding: 10px;
  display: inline-block;
}
.comment-div2 {
  background-color: white;
  border-bottom: 1px solid #f7e7b7;
  padding: 10px;
  display: inline-block;
}

.img-comment {
  width: 50px;
  cursor: pointer;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.date-div {
  font-size: 11px;
  text-align: right;
}

.popup {
  display: none;
}

#ac-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(5, 5, 5, 0.356);
  opacity: 1;
  z-index: 1001;
}

.pop-modal {
  padding-top: 20px;
  width: 600px;
  height: 710px;
  background: #ffffff;
  border-radius: 25px;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  position: relative;
  top: 30px;
  margin: 0 auto;
}

.sec-pop {
  justify-content: center;
  text-align: center;
}

.img-div-pop {
  text-align: center;
  padding-bottom: 90px;
}

@keyframes mymove {
  0% {
    transform: translate(1px, 1px) rotate(0);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.img-pop {
  width: 100%;
  position: relative;
  animation: mymove 2s infinite;
  -webkit-animation: mymove 2s infinite;
}

.para-pop {
  color: #575757;
  padding-bottom: 20px;
  font-size: 25px;
  text-align: center;
  font-weight: 600;
  justify-content: center;
}

.p2-pop {
  padding-bottom: 10px;
}

.p3-pop {
  padding-bottom: 15px;
}

.inpout-pop {
  background-color: #263da1;
  border-color: #263da1;
  color: #fff;
  margin-top: 10px;
  padding: 10px 16px;
  font-size: 16px;
  cursor: pointer;
  line-height: 1.3333333;
  border-radius: 6px;
}
